body {
	background:#FFF;
	font-family: arial;
	margin: 0px, 0px;
	white-space: nowrap;
}

h1,h2,h3 {
	font-size: 14px;
	font-weight: bolder;
	padding: 3px;
	background: #AFE;
	color: #5CB;
}

p{
}

.selection{
	align-items: right;
	display: flex;
	justify-content: space-between;

}