body {
	background:#FFF;
	font-family: arial;
	margin: 0px, 0px;
	white-space: nowrap;
}

h1,h2,h3 {
	font-size: 14px;
	font-weight: bolder;
	padding: 3px;
	background: #28c8c8;
	color: white;
	text-align: center;

}

p{
	color: #999;
}

.selection{
	display: block;
	position: relative;
	padding: 0px 0px 5px 20px;
	float: left;
	display: flex;
	justify-content: space-between;

}

.selection input{
	opacity: 0;
}

.checkmark{
	position: absolute;
	top: 0;
	left: 0;
	height: 16px;
	width: 16px;
	background-color: #ddd;
}

.selection:hover input ~ .checkmark {
	background-color: #eee;
	cursor: pointer;
}

.selection input:checked ~ .checkmark{
	background-color: #28c8c8;
}

.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.selection input:checked ~ .checkmark:after {
  display: block;
}

.selection .checkmark:after {
  left: 5px;
  top: 3px;
  width: 3px;
  height: 6px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}